$controlsHeight:30px;//控制条高度
$iconColor:#0271BC;//图标颜色
$bgc:#D2C3A6;//总体的背景颜色
$hoverBgc:#D7B695;//hover的时候的背景颜色
$bgBar:#E5E9EF;//进度条音量bar的背景颜色
$colorBar:#00A1D6;//进度条音量颜色bar的背景颜色
$bufferBar:#8ADCED;//进度条缓冲bar的背景颜色
$ball:#fff;//控制球的颜色
$ballBoxShadow:#017cc3;//控制球的阴影颜色
$iconSize:12px;//图标大小